# Change these variables
API_URL=
TRELLO_SECRET=
TRELLO_KEY=
WHITELISTED_IPS=
TRELLO_ICON_URL=
REQUEST_TIMEOUT=15000
LATENCY_THRESHOLD=30000
RATELIMITER_OFFSET=0

# You don't need to change this
PG_USER=taco
PG_HOST=postgres
PG_DATABASE=taco
PG_PASSWORD=taco

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=whapi:
REDIS_PASSWORD=

# If you have an influx or sentry instance, you can set these if you want
# INFLUX_URL=
# INFLUX_TOKEN=
# INFLUX_ORG=
# INFLUX_BUCKET=
# SERVER_NAME=

# SENTRY_DSN=
# SENTRY_ENV=
# SENTRY_SAMPLE_RATE=1.0
