# Change these variables
CLIENT_ID=999999999999999999
CLIENT_SECRET=

TRELLO_KEY=
TRELLO_SECRET=
TRELLO_NAME="Taco Self-Hosted"

APP_URI=http://localhost:3001
JWT_SECRET=CHANGE_THIS_IN_PRODUCTION

# You don't need to change this
DATABASE_URL="postgresql://taco:taco@postgres:5432/taco?schema=public"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=tacoauth:
REDIS_PASSWORD=

PORT=8001
