# Change these variables
DISCORD_APP_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
COMMANDS_DEBUG=false
# COMMANDS_DEV_GUILD=
COMMANDS_ELEVATED=135923847147945985,158049329150427136,404813853851910155
DEV_GUILD=
DEV_ROLE=
# WEBHOOK_LIMIT=5

TRELLO_KEY=
AUTH_LINK=
WEBHOOK_BASE_URL= # URL must end with a slash!
DONATE_LINK=https://patreon.com/trello_talk
SUPPORT_INVITE=fJrZZ7V
BOT_INVITE_ID=

# You don't need to change this
DATABASE_URL="postgresql://taco:taco@postgres:5432/taco?schema=public"
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=taco:
REDIS_PASSWORD=

# If you have an influx or sentry instance, you can set these if you want
# INFLUX_URL=
# INFLUX_TOKEN=
# INFLUX_ORG=
# INFLUX_BUCKET=
# SERVER_NAME=

# SENTRY_DSN=
# SENTRY_ENV=
# SENTRY_SAMPLE_RATE=1.0
