# Change these variables
DISCORD_BOT_TOKEN=
DEBUG=
ALT_STATUS=

# You don't need to change this
DATABASE_URL="postgresql://taco:taco@postgres:5432/taco?schema=public"
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=taco:
REDIS_PASSWORD=

# If you have an influx or sentry instance, you can set these if you want
# SENTRY_DSN=
# SENTRY_ENV=
# SENTRY_SAMPLE_RATE=1.0

# INFLUX_URL=
# INFLUX_TOKEN=
# INFLUX_ORG=
# INFLUX_BUCKET=
# SERVER_NAME=dev
# BOT_NAME=taco
